<h1 class="text-red-500 text-9xl">ユーザー一覧</h1>
<% if user_signed_in? %>
  <%= render @users %>
<% else %>
  <%= link_to "新規作成", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>