<div id="modal" class="modal-edit">
  <div class="modal-content">
    <div class="modal-header">
      <button class="btn" id="modal-close">閉じる</button>
      <h2>メディアを編集</h2>
      <button class="btn" id="modal-cut">更新する</button>
    </div>
    <div class="modal-content">
      <div>
        <%= image_tag '', id: "change-image" %> 
      </div>
    </div>
  </div>
</div>